[features]
seeds = false
skip-lint = false

[programs.localnet]
rawl = "AQCBqFfB3hH6CMRNk745NputeXnK7L8nvj15zkAZpd7K"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
